<div *ngIf="scheme">
  <h2>{{ scheme.name }}</h2>
  <p>{{ scheme.description }}</p>
  <p>
    <strong>{{ "schemeDetails.profession" | translate }}:</strong>
    {{ scheme.profession }}
  </p>
  <p>
    <strong>{{ "schemeDetails.minAge" | translate }}:</strong>
    {{ scheme.minAge }}
  </p>
  <p>
    <strong>{{ "schemeDetails.gender" | translate }}:</strong>
    {{ scheme.gender }}
  </p>
  <p>
    <strong>{{ "schemeDetails.benefits" | translate }}:</strong>
    {{ scheme.benefits }}
  </p>
  <p>
    <strong>{{ "schemeDetails.applicationProcess" | translate }}:</strong>
    {{ scheme.applicationProcess }}
  </p>
  <p>
    <strong>{{ "schemeDetails.requiredDocuments" | translate }}:</strong>
    {{ scheme.requiredDocuments }}
  </p>
  <p>
    <strong>{{ "schemeDetails.startDate" | translate }}:</strong>
    {{ scheme.startDate }}
  </p>
  <p>
    <strong>{{ "schemeDetails.endDate" | translate }}:</strong>
    {{ scheme.endDate }}
  </p>
  <p>
    <strong>{{ "schemeDetails.applicationLink" | translate }}:</strong>
    <a href="{{ scheme.applicationLink }}" target="_blank">{{
      scheme.applicationLink
    }}</a>
  </p>
</div>
