<div class="container mt-5">
  <h2 class="mb-4">{{ "footer.terms" | translate }}</h2>
  <!-- <p>
    Terms of Service Heading: Our Commitment to You Welcome to the Terms of
    Service for [Your Project Name]. By accessing and using our platform, you
    agree to abide by the following terms: 1. Purpose: [Your Project Name] is
    dedicated to providing accurate and up-to-date information on government
    schemes. Our goal is to empower individuals and communities by facilitating
    access to life-changing opportunities. 2. User Conduct: While using our
    platform, we expect users to engage respectfully and responsibly. Any
    misuse, unauthorized access, or violation of our terms may result in account
    suspension. 3. Data Security: We prioritize the security of your
    information. Rest assured that your data is handled with the utmost care and
    in compliance with relevant data protection regulations. 4. Feedback and
    Suggestions: We encourage users to share feedback and suggestions to enhance
    our platform continually. Your insights contribute to the growth and
    improvement of [Your Project Name]. 5. Updates and Modifications: We reserve
    the right to update, modify, or revise our Terms of Service as needed. Users
    will be notified of any changes, and continued use of the platform implies
    acceptance of the updated terms. For a detailed understanding of our terms,
    please review our full Terms of Service document. Thank you for being part
    of [Your Project Name], where information meets opportunity, and dreams turn
    into reality.
  </p> -->
</div>
