<div class="container mt-5">
  <h2 class="mb-4">{{ "footer.contact" | translate }}</h2>
  <!-- <p>
    Contact Us Heading: Get in Touch with [Your Project Name] Welcome to [Your
    Project Name], your go-to platform for government schemes that transform
    lives. We value your input and would love to hear from you. Whether you have
    questions, suggestions, or feedback, our team is here to assist you. How to
    Reach Us: Feel free to reach out through our dedicated Contact Form or
    directly via email at [your@email.com]. We are committed to responding
    promptly to ensure you have the support you need. Join us in building a
    community where information empowers and opportunities flourish.
  </p> -->
</div>
