<!-- Navbar with Home button and manual Search dropdown -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.digitalgujarat.gov.in/"
      >Digital-Gujarat</a
    >
    <!-- Manual Search dropdown list -->
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="searchDropdownButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ "navbar.searchSchemes" | translate }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="searchDropdownButton">
        <li>
          <div class="search-container">
            <label for="searchCriteria">{{
              "schemeList.searchCriteria" | translate
            }}</label>
            <select id="searchCriteria" [(ngModel)]="selectedSearchCriteria">
              <option value="profession">
                {{ "schemeList.searchOptions.profession" | translate }}
              </option>
              <option value="age">
                {{ "schemeList.searchOptions.age" | translate }}
              </option>
              <option value="gender">
                {{ "schemeList.searchOptions.gender" | translate }}
              </option>
              <option value="name">
                {{ "schemeList.searchOptions.name" | translate }}
              </option>
            </select>
          </div>
        </li>
        <li>
          <div
            class="search-container"
            *ngIf="selectedSearchCriteria === 'profession'"
          >
            <label for="profession">{{
              "schemeList.selectProfession" | translate
            }}</label>
            <select id="profession" [(ngModel)]="professionSearchTerm">
              <option value="students">
                {{ "schemeList.professions.students" | translate }}
              </option>
              <option value="farmers">
                {{ "schemeList.professions.farmers" | translate }}
              </option>
              <option value="Entrepreneur">
                {{ "schemeList.professions.entrepreneur" | translate }}
              </option>
              <option value="general">
                {{ "schemeList.professions.general" | translate }}
              </option>
            </select>
          </div>
        </li>
        <li>
          <div
            class="search-container"
            *ngIf="selectedSearchCriteria === 'age'"
          >
            <label for="age">{{ "schemeList.selectAge" | translate }}</label>
            <select id="age" [(ngModel)]="ageSearchTerm">
              <option *ngFor="let age of ageOptions" [value]="age">
                {{ age }}
              </option>
            </select>
          </div>
        </li>
        <li>
          <div
            class="search-container"
            *ngIf="selectedSearchCriteria === 'gender'"
          >
            <label for="gender">{{
              "schemeList.selectGender" | translate
            }}</label>
            <select id="gender" [(ngModel)]="genderSearchTerm">
              <option value="male">
                {{ "schemeList.genders.male" | translate }}
              </option>
              <option value="female">
                {{ "schemeList.genders.female" | translate }}
              </option>
              <option value="any">
                {{ "schemeList.genders.any" | translate }}
              </option>
            </select>
          </div>
        </li>
        <li>
          <div
            class="search-container"
            *ngIf="selectedSearchCriteria === 'name'"
          >
            <label for="search">{{
              "schemeList.searchByName" | translate
            }}</label>
            <input type="text" id="search" [(ngModel)]="nameSearchTerm" />
          </div>
        </li>
        <li>
          <div class="search-container">
            <button (click)="searchSchemes()">
              {{ "schemeList.searchButton" | translate }}
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="head">
  <img [src]="displayImg" />
</div>

<!-- Display filtered schemes -->
<div *ngIf="isSearchPerformed">
  <ul *ngIf="filteredSchemes.length > 0">
    <li *ngFor="let scheme of filteredSchemes">
      <a
        [routerLink]="['/details', scheme.id]"
        (mouseout)="displaySchemeDetails(scheme)"
        (mouseover)="displaySchemeDetails(scheme)"
      >
        {{ scheme.name }}
      </a>
      <div class="scheme-details" *ngIf="scheme.showDetails">
        <p>
          <strong>{{ "schemeDetails.descriptionTitle" | translate }}:</strong>
          {{ scheme.description }}
        </p>
      </div>
    </li>
  </ul>
  <div *ngIf="filteredSchemes.length === 0">
    {{ "filteredSchemes.noResults" | translate }}
  </div>
</div>

<main>
  <!-- <router-outlet></router-outlet> -->
  <div class="recent">
    <div class="rs">
      <h1>{{ "RECENT_SCHEMES" | translate }}</h1>
    </div>
    <div class="recentt">
      <app-recent-schemes></app-recent-schemes>
    </div>
  </div>

  <DIV class="mos">
    <H1>{{ "MOST_SEARCHED_SCHEMES" | translate }}</H1>
  </DIV>
  <app-popular-schemes></app-popular-schemes>
</main>
