/* Navbar styling */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #1f4272a9;
  font-weight: bold;
}

/* Search dropdown styling */
.dropdown {
  display: inline-block;
  margin-left: 10px;
}

.dropdown-toggle {
  background-color: #1f4272a9;
  color: #fff;
  font-weight: bold;
}

.dropdown-menu {
  min-width: 250px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #1f4272a9;
}

select,
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1f4272a9;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* Scheme list container styling */
.scheme-list-container {
  max-width: 600px;
  margin: 20px auto;
}

/* Scheme list styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #1f4272a9;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Display filtered schemes styling */
.isSearchPerformed {
  margin-top: 20px;
}

/* Scheme details styling */
.scheme-details {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.scheme-details strong {
  color: #1f4272a9;
}

.head img {
  height: auto;
  /* background-color: #1F4172; */
  color: #fff;
  padding: 10px 0;
  text-align: center;
}


.mos{
  margin-top: -20PX;
  height: 50px;
  width: 100%;
  background-color: #1F4172;
  text-align: center;
  color: #fbfbfbfe;
  margin-bottom: 2%;
  border-radius: 4px;
  border: 4px solid #1F4172; ;
}

.rs{
  margin-top: 2%;
    height: 18%;
    width: 100%;
    background-color: #1F4172;
    text-align: center;
    color: #d9d9d9;
  margin-bottom: 1%;
  border : 4px solid #1F4172;
  border-radius: 4px
}