*{
  margin: 0;
  padding: 0;
  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
  }

  .logo{
    height:30;
    width: 24;
    background-image: url(logo.jpg);
    background-color: #1F4172;
  }
  
  .head{
    height: 300px;
    /* background-color: #1F4172; */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background-image: url(frames.jpg);
  }
  
  nav {
    margin-top: 10px;
  }

  .navbar{
    margin-left: 0px;
    background-color: #d9d9d9;
    color: #1F4172;

  }
  
  a {
    color: #1F4172;
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
    cursor: grab;
  }

  .navlink{
    margin-right: 5px;
  }
  main {
    margin-top: 0px;
  }
  
  footer {
    color: #d9d9d9;
    margin-top: 20px;
    /* background-color: #1F4172; */
    text-align: center;
    padding: 10px 0;
  }

  .footerr{
    height: 125px;
    /* width: 100%; */
    background-color: #365481;
    color: #d9d9d9;
    display: flex;
    border-radius: 4px;
    border: 4px solid #365481;;
  }

  .image{
    /* margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 3%; */
    margin: 1% 0 3% 6%;
    width: 60px;
    height: 112px;
    background-image: url(mask.png);
    /* object-fit: cover; */
    /* display: block; */
  }

  .text{
    margin-left: 3.5%;
    margin-top: 2%;
  }

  .links{
    margin-left: 25%;
    margin-top: 1.5%;
    text-align: left;
    font-size: small;
  }

  li{
    margin-top: 4%;
  }

  .cr{
    color: #d9d9d9;
    background-color: #1F4172;
    text-align: center;
    padding: 10px 0;
  }

  .mos{
    margin-top: -20PX;
    height: 50px;
    width: 100%;
    background-color: #1F4172;
    text-align: center;
    color: #fbfbfbfe;
    margin-bottom: 2%;
    border-radius: 4px;
    border: 4px solid #1F4172; ;
  }

  .rs{
    margin-top: 2%;
      height: 18%;
      width: 100%;
      background-color: #1F4172;
      text-align: center;
      color: #d9d9d9;
    margin-bottom: 1%;
    border : 4px solid #1F4172;
    border-radius: 4px
  }




  