<div class="container mt-5">
  <h2 class="mb-4">{{ "footer.about" | translate }}</h2>
  <!-- <p>
        About Us: Empowering Lives through Government Schemes Welcome to [Your
        Project Name], your gateway to a brighter and more inclusive future. At
        [Your Project Name], we believe in the transformative power of government
        schemes to uplift communities and individuals. Our platform serves as a
        comprehensive resource, connecting citizens with life-changing opportunities
        offered by various government initiatives. Our Mission: Bridging the Gap for
        a Prosperous Society Our mission is simple yet profound — to empower lives
        by making information about government schemes easily accessible to
        everyone. We understand the potential of well-designed programs to bring
        positive change, and we are committed to bridging the gap between citizens
        and the opportunities that can shape a prosperous society. What Sets Us
        Apart: Unparalleled Information Access Navigating the landscape of
        government schemes can be complex, and that's where [Your Project Name]
        stands out. We are your one-stop destination for accurate, up-to-date, and
        detailed information about a diverse range of schemes. Whether you're a
        student seeking scholarships, an entrepreneur exploring business support, or
        a farmer in search of agricultural initiatives, we've got you covered. Key
        Features: Comprehensive Scheme Database: Explore an extensive database of
        government schemes across various categories, each with detailed
        descriptions and eligibility criteria. User-Friendly Interface: Our
        user-friendly interface ensures a seamless experience, allowing you to find
        relevant schemes quickly and easily. Real-Time Updates: Stay informed with
        real-time updates on new schemes, application deadlines, and any changes in
        program details. Join Us in Empowering Dreams: [Your Project Name] is more
        than just a website; it's a community dedicated to fostering positive
        change. Join us on this journey of empowerment, where information meets
        opportunity, and dreams turn into reality. Contact Us: Have questions,
        suggestions, or feedback? We'd love to hear from you. Reach out to us at
        [Contact Email or Form]. Together, let's build a future where every citizen
        has the knowledge and access to government schemes that can unlock their
        full potential.
      </p> -->
</div>
