<div class="container mt-5">
  <h2 class="mb-4">{{ "footer.help" | translate }}</h2>
  <!-- <p>
    Help Heading: Navigating [Your Project Name] Empowering lives through
    government schemes involves providing comprehensive assistance. Here's how
    we can guide you through your journey on [Your Project Name]: 1.
    User-Friendly Interface: Explore our intuitive platform designed to provide
    a seamless experience. Find relevant schemes quickly and easily, tailored to
    your needs. 2. Scheme Database: Discover a vast database featuring detailed
    descriptions and eligibility criteria for a wide range of government
    initiatives. Whether you're a student, entrepreneur, or farmer, we've got
    you covered. 3. Real-Time Updates: Stay informed with our real-time updates
    on new schemes, application deadlines, and any changes in program details.
    We keep you in the loop for timely decision-making. Have a question about
    using our platform? Check out our Help Center for detailed guides and FAQs..
  </p> -->
</div>
